.app-header {
    // Flexbox para alinear elementos
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
    background-color: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
    padding: 1rem 2rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

// Para el logo
.app-header .logo a img {
    height: 40px; 
    display: block;
}

.app-header nav ul {
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
    align-items: center; 
}

.app-header nav ul li {
    // Espaciado para los items de nav
    margin-left: 1.5rem; 
    font-size: 1rem;
    color: #333333;
    white-space: nowrap; 
}

.app-header nav ul li a {
    text-decoration: none;
    color: #007bff; 
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.app-header nav ul li a:hover {
    color: #0056b3; 
}

// Para el botón de cerrar sesión
.app-header .btn-logout {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #777777; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.app-header .btn-logout:hover {
    color: #0038ee; 
}

.app-header nav ul li:first-child[ng-reflect-ng-if]:not(:has(a)) {
    color: #333333;
    font-weight: 600;
}

// Media Query
@media (max-width: 540px) {
    // apilar
    .app-header {
        flex-wrap: wrap; 
        padding: 1rem 1.5rem; 
    }
    
    .app-header .logo {
        flex-basis: 100%; // TODO el espacio
        margin-bottom: 0.5rem; 
        border-bottom: 1px solid #e0e0e0; 
        padding-bottom: 1rem; 
        margin-bottom: 0.3rem;
    }
    
    .app-header nav {
        flex-basis: 100%; // TODO el espacio
    }

    .app-header nav ul {
        width: 100%; 
        justify-content: space-evenly; 
        padding: 0;
        margin: 0;
    }
    
    .app-header nav ul li {
        margin: 0; 
        white-space: nowrap;
    }
    
    // Quita el margen izquierdo para el primer elemento
    .app-header nav ul li:first-child {
        margin-left: 0 !important; 
    }
}