*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;             // Usar flexbox 
    justify-content: center;   // Centrar el hijo horizontalmente
    align-items: center;       // Centrar el hijo verticalmente 
    min-height: 100vh;         // El contenedor ocupa al menos toda la altura de la vista
    margin: 0;                 // Eliminar los márgenes predeterminados del body 
    background: linear-gradient(to right, rgba(0, 57, 216, 0.3), rgba(1, 249, 183, 0.3));
}

// Caja que envuelve el formulario
.login-container {
    background-color: #ffffff;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 450px; // Ancho máximo del login

    width: 90%;
    margin: 1.5rem auto;

    // Centrar el contenido
    text-align: center; 

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
    // Estilos para los botones Registrar y Cancelar
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .row-buttons {
        display: flex;
        gap: 16px; // Espacio entre los botones
        
        .btn-primary {
            width: 100%;
            max-width: 250px; 
            margin-top: 0.75rem;
            border-radius: 0.3rem;
            text-align: center;
            cursor: pointer;

            background-color: #f3f4f6; 
            color: #1f2937;
            border: 1px solid #d1d5db;

            transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
        }
        .btn-primary:hover:not(:disabled) {
            transform: scale(1.02); 
            background-color: #e5e7eb; 
            border-color: #9ca3af;
        }
        
        .color-btn {
            background-color: rgba(1, 249, 183, 0.1); 
            color: #1f2937; 
            border-color: rgba(1, 249, 183, 0.5);
        }
        
        .color-btn:hover:not(:disabled) {
            background-color: rgba(1, 249, 183, 0.3); 
            border-color: rgba(1, 249, 183, 0.7); 
            transform: scale(1.02); 
        }
    }
}

.login-container:hover {
    transform: scale(1.02); 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


// Estilos para los grupos de formulario y el botón de visibilidad de contraseña
.form-group {
    position: relative;
    margin-bottom: 0.5rem;

    label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .alert {
        color: #0038ee;
        font-size: 0.875rem;
        margin-top: 0.25rem;
        text-align: left;
        min-height: 1.25rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s; 
    }

    .alert.visible {
        visibility: visible;
        opacity: 1;
    }
    
    // Estilo para los inputs
    .form-control {
        width: 100%;
        padding: 0.75rem 2.5rem 0.75rem 0.75rem;
        border: 1px solid #d1d5db;
        border-radius: 0.5rem;
        transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
    }
    
    // Botón de toggle de visibilidad de contraseña
    .btn-toggle {
        position: absolute;
        right: 0rem;
        top: 50%; // Para alinear con el input
        transform: translateY(-50%);
        height: auto;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        color: #4b5563;
        font-size: 0.85rem;
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }

    // cuando se muestra la alerta
    .form-control.ng-invalid.ng-touched {
        border-color: #0038ee;
        box-shadow: 0 0 0 0.1rem rgba(0, 56, 238, 0.25);
    }
}